<div class='title-contents'>
<h2 class='servise-title'>
エンゼルスプレーヤーの紹介　2021
</h2>
<p class='servise-expain'>
大谷翔平
</p>
<p class='store-btn'>
<%#= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
<%#= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
</div>
</div>
<div class='reason-lists'>
<li class='list'>
<%#= image_tag "furima-intro01.png", class:"list-pict" %>
<span class='reason-list-number'>背番号17</span>
